mat-card {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
  }
  
  .w-100 {
    width: 100%;
    margin-bottom: 15px;
  }
  .input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  